* {
    margin: 0;
    padding: 0;
    font-family: 'Edu SA Beginner', cursive;
    font-family: 'Poppins', sans-serif;
}

.header {
    min-height: 100vh;
    width: 100%;
    /* background-image: linear-gradient(rgba(228, 230, 237, 0.7),rgba(11, 14, 22, 0.7),rgba(11, 14, 22, 0.7), rgba(17, 18, 22, 0.7)), url(../images/background/banner.png); */
    background-image: url(../images/background/banner.png);
    background-image: radial-gradient(ellipse at top left, rgba(212, 212, 219, 0.7), rgba(113, 113, 117, 0.7), rgba(11, 14, 22, 0.7), rgba(11, 14, 22, 0.7), rgba(11, 14, 22, 0.7), rgba(17, 18, 22, 0.7)), url(../images/background/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 158px;
}

.nav-links {
    flex: 1;
    text-align: right;
    transition: 1s;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 46px;
}

.text-box p {
    margin: 1px 0 40px;
    font-size: 14px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 13px;
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #ffffff;
    background: rgba(178, 57, 24, 0.5);
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media (max-width: 750px) {
    .text-box h1 {
        font-size: 20px;
    }
    .hero-btn {
        top: 2rem;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        display: none;
        position: absolute;
        background: rgba(38, 11, 124, 1);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
        transition: width 3s;
    }
    nav .fa {
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
        display: block;
    }
    .content {
        background-image: linear-gradient(to bottom, #070000, #1b1d1b, #212122);
    }
    .chat-bar-icons #chat-icon {
        color: crimson;
    }
    .footer span {
        font-size: 13px;
        margin-top: -10px;
    }
    .footer p {
        font-size: 10px;
    }
}

.domain {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

h1 {
    font-size: 32px;
    font-weight: 600;
}

p {
    color: black;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.domain-col {
    flex-basis: 24%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px;
}

.domain-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/* call to action */

.cta {
    margin: 100px auto;
    width: 80;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/background/banner2.jpg);
    background-position: center;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}

@media (max-width: 700px) {
    .cta h1 {
        font-size: 22px;
    }
    #bcontainer button.learn-more {
        display: none;
    }
    #bcontainer button.learn-more .circle {
        display: none;
    }
    #bcontainer button.learn-more .circle .icon {
        display: none;
    }
    .icons .wrapper1 #spe {
        margin-top: 50px;
        max-width: 50px;
        max-height: 50px;
        margin-left: -120px;
    }
    .icons .wrapper1 #spe1 {
        margin-top: 50px;
        max-width: 50px;
        max-height: 50px;
        margin-left: -185px;
    }
    .icons .wrapper1 .button {
        margin-top: 50px;
        max-width: 50px;
        max-height: 50px;
        margin-left: 10px;
    }
    .typing-effect #text {
        font-size: 12px;
    }
}


/* footer */

.footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa {
    color: red;
    margin: 0 30px;
    cursor: pointer;
    padding: 18px 0;
}

@import url('https://fonts.googleapis.com/css?family=Mukta:700');
* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}


/* body {
  font-family: 'Mukta', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  background: #f3f8fa;
} */

#bcontainer button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: 15px;
}

#bcontainer button.learn-more {
    width: 12rem;
    height: auto;
}

#bcontainer button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
}

#bcontainer button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

#bcontainer button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

#bcontainer button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

#bcontainer button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

#bcontainer button:hover .circle {
    width: 100%;
}

#bcontainer button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

#bcontainer button:hover .button-text {
    color: #fff;
}

@supports (display: grid) {
    body {
        /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.625rem;
    grid-template-areas: ". main main ." ". main main ."; */
    }
    #bcontainer {
        grid-area: main;
        align-self: center;
        justify-self: center;
    }
}

@media screen and (max-width: 400px) {
    .icons .social {
        font-size: 5px;
    }
}